<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fys.wx.project.persistence.UserMapper">

    <select id="getUserByUsernameAndPassword" resultMap="userMap">
        select * from f_user where user_account = #{account} and user_password = #{password}
    </select>

    <resultMap id="userMap" type="User">
        <result column="user_name" property="username" />
        <result column="user_account" property="account" />
        <result column="user_password" property="password" />
        <result column="user_address" property="userAddress" />
        <result column="create_date" property="createDate" />
        <result column="last_login_date" property="lastLoginDate" />
    </resultMap>

    <!-- 根据用户账户获取用户信息，包括角色信息 -->
    <select id="getUserRoleByUserName" resultMap="userMap">
        select t1.*, GROUP_CONCAT(t3.role_name) as role from f_user t1
        left join role_user t2 on t1.id = t2.user_id
        left join f_role t3 on t2.role_id = t3.id
        where t1.user_account = #{account}
        group by t1.id
    </select>

    <select id="userList" resultMap="userMap">
        select t1.id, user_name, last_login_date, avatar, enable, GROUP_CONCAT(t3.role_name) as role from f_user t1
        left join role_user t2 on t1.id = t2.user_id
        left join f_role t3 on t2.role_id = t3.id
        group by t1.id
    </select>
</mapper>